<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10: Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List some open source development environment tools for Data Science
- Evaluation of arithmetic expressions in Python

Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Scikit-learn
3. Pandas
4. Numpy

Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter | 
| RStudio |
| Apache Zeppelin |

Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8: Create a code cell to multiply and add numbers

In [1]:
# This is a simple arithmetic expression to mutiply and then add integers
(3*4)+5

17

Exercise 9: Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
hrs = 200/60
print(hrs,"hours")

3.3333333333333335 hours

Exercise 11: Create a markdown cell to indicate the Author's name

## Author

Tharinda Nishavi Ratnayake